canvas {
    border: solid orange 1px;
    background-image:url("skyBackground.jpg");
    width: auto;
    height: auto;
    background-attachment: fixed;
    background-size: contain;
}

.score-container {
    border: none;
    width: min-content;
    z-index: auto;
    position: absolute;
    height: 8em;
    margin-bottom: 1em;
    margin-top: 2em;
    width: 20%;
    left: 65%;
    top: -25px;
    height: 7em;
    opacity: 0.9;
}