canvas {
    border: solid orange 1px;
    background-image:url("skyBackground.jpg");
    width: auto;
    height: auto;
    background-attachment: fixed;
    background-size: contain;
}

.score-container {
    border: solid red 1px;
    width: min-content;
}